.shop {

    padding-left: 4em;
}

.a {
    padding-left: 7em;
    width: 350px;
    text-align: center;
    font-size: 14px;
}

.cart {
    padding-top: 3em;
    padding-left: 10em;
}

.buy {
    padding-left: 0.7em;
}

.form-border {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: fit-content;
    min-width: 100px;
}

.kl {
    padding-left: 3em;
    padding-bottom: 5em;
}

.eb {
    padding-left: 1.5em;
}