.shop {

    padding-left: 4em;
}

.a {
    padding-left: 7em;
}

.cart {
    padding-top: 3em;
    padding-left: 10em;
}

.buy {}

.form-border {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: fit-content;
    min-width: 100px;
}

.kl {
    padding-left: 3em;
}