/* Container holding the image and the text */
.headers {
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    margin: 0px;



}


/* Centered text */
.centered {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 450%;
    color: white;
}

p-test {
    text-align: center;
    position: relative;
    bottom: 8px;
    font-size: 150%;
    color: aliceblue;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("../img/header.jpg");
    background-color: aliceblue;
    background-size: contain;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    display: block;
}

li a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1280px;
    display: block;
    color: whitesmoke;
    background-color: darkslategray;
}

.content {
    padding: 90px 20px;
}

.main {
    background: url(../img/header.jpg) no-repeat center center fixed;
    background-size: cover;

}