/* Container holding the image and the text */
.header {
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    margin: 0px;
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 450%;
    color: white;
}

p-test {
    text-align: center;
    position: relative;
    bottom: 8px;
    font-size: 150%;
    color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    display: block;
}

li a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1280px;
    display: block;
    color: whitesmoke;
    background-color: darkslategray;
}