/* Container holding the image and the text */
.header {
    position: relative;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    margin: 0px;
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerOLD {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #9abc0c;
    color: white;
    align-items: center;
    padding: 80px;

}

h1 {
    font-size: 200%;
}

p {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}