.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #9abc0c;
    color: white;
    align-items: center;
    padding: 80px;

}


p {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

